asgiref==3.12.1
colorama==0.4.6
customtkinter==6.0.0
darkdetect==0.8.0
dj-database-url==3.1.2
Django==6.1
django-cors-headers==4.9.0
djangorestframework==3.18.1
djangorestframework_simplejwt==5.5.1
factory_boy==3.3.3
Faker==40.37.0
gunicorn==26.2.0
iniconfig==2.3.0
packaging==26.3
pluggy==1.6.0
psycopg2-binary==2.9.12
Pygments==2.21.0
PyJWT==2.13.0
pytest==9.1.1
pytest-django==4.14.0
pytest-mock==3.15.1
python-decouple==3.8
sqlparse==0.6.0
tzdata==2026.3
whitenoise==6.12.0
